<div class="container-fluid bg-light">
   <section class="footer text-muted">
      <div class="row">
         <div class="col-md-4 col-xs-6">
            <h5>Links</h5>
            <ul>
               <li><a href=" http://www.securitybsides.com/w/page/12194156/FrontPage " target="_blank">Security
                     BSides</a></li>
               <li><a href=" https://atlseccon.com" target="_blank">Atlantic Security Conference</a></li>
               <li><a href=" https://www.dc902.ca" target="_blank">DEFCON Halifax</a></li>
               <li><a href="https://www.linkedin.com/company/bsides-halifax/" target="_blank">LinkedIn</a></li>
               <li><a href="https://twitter.com/halifaxbsides" target="_blank">X (Twitter)</a>
                  <li><a href="https://infosec.exchange/@halifaxbsides" target="_blank">Mastadon</a>
            </ul>
         </div>
         <div class="col-md-4 col-xs-6">
            <h5>Contacts</h5>
            <ul>
               <li><a href=" mailto:info@halifaxbsides.ca " target="_blank">info@halifaxbsides.ca</a></li>
            </ul>
         </div>
         <div class="col-md-4 col-xs-6">
            <h5>Code of Conduct</h5>
            <ul>
               <li><a href="/cod.html">Code of Conduct</a></li>
            </ul>
         </div>
      </div>
   </section>
</div>
