<div class="container-fluid">

   <header class="pb-3 mb-5 border-bottom">
      <a href="/" class="">
         <img src="assets/sprites/logos.png">
      </a>
   </header>

   <!-- about -->
   <section class="about container">
      <div class="col">
         <h1>Halifax BSides</h1>
         <p class="lead">
            Halifax BSides is a non-profit organization run by members of the Halifax Technology and Information
            Security industry with a goal of running a yearly conference for experts, students, the curious and the
            confused not only to hear from others but also to provide them their chance to speak on topics that
            interest
            them.
            This years conference will be November 14th and look forward to sharing more with you as soon as
            possible.
         </p>
      </div>
   </section>

   <!-- team -->
   <section class="team container">
      <h3>Directors</h3>
      <!-- <div class="col-lg-8 col-md-12"> -->
      <div class="row">
         <div class="director col-lg-4 col-md-6 col-sm-12">
            <div class="card">
               <img class="card-img-top" src="assets/images/people/brad.jpg">
               <div class="card-body">
                  <h5 class="card-title">Brad <span>Call</span></h5>
                  <span class="card-text">Brad is a seasoned Security Professional with over 15 years of experience working in the information security industry. He has been an active member of various IT & security communities over the decades and loves talking shop with his peers. When not working (is there such a thing as that in security?), Brad enjoys spending time with his family and kicking A$$ as a Black Belt Brazilian Jiu-Jitsu practitioner and instructor.</span>
               </div>
            </div>
         </div>
         <div class="director col-lg-4 col-md-6 col-sm-12">
            <div class="card">
               <img class="card-img-top" s src="assets/images/people/jeff.jpg">
               <div class="card-body">
                  <h5 class="card-title">Jeff <span>Hann</span></h5>
                  <span class="card-text">Jeff has over six years of experience in
                     Information Security as an Application Security Engineer. He is the Engineering Lead of a
                     Security Engagement program for a Fortune 1000 medical device manufacturer. Before entering
                     security, Jeff worked as a developer for a decade.</span>
               </div>
            </div>
         </div>
         <div class="director col-lg-4 col-md-6 col-sm-12">
            <div class="card">
               <img class="card-img-top" src="assets/images/people/mary.jpeg">
               <div class="card-body">
                  <h5 class="card-title">Mary <span>MacDonald</span></h5>
                  <span class="card-text">I am currently with the Province of Nova
                     Scotia as an IT Procurement Specialist within the Cyber Security &amp; Digital Solutions
                     team. I
                     have graduated from NSCC I.T. Campus specializing in the Database Administration (DBA) Stream
                     in
                     June 2018. My passion lies in Cyber Security, Configuration and in Database Development using
                     Oracle and MySQL Programming and Database Management Systems (DBMS). I am married and live in
                     the Halifax Regional Municipality.</span>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="director col-lg-4 col-md-6 col-sm-12">
            <div class="card">
               <img class="card-img-top" src="assets/images/people/jon.jpg">
               <div class="card-body">
                  <h5 class="card-title">Jonathan <span>Elliott</span></h5>
                  <span class="card-text">Cybersecurity student and former
                     kindergarten teacher who loves learning new things and sharing along the way. Love of tech
                     first
                     established as a youngster enthralled by the mind-blowing speed of Sonic being used as a
                     very
                     effective distraction by my parents. Excited to meet fellow tech-heads and learn from all
                     the
                     awesome things people in the community are doing.</span>
               </div>
            </div>
         </div>
         <div class="director col-lg-4 col-md-6 col-sm-12">
            <div class="card">
               <img class="card-img-top" src="assets/images/people/meg.jpg">
               <div class="card-body">
                  <h5 class="card-title">Meaghan <span>Shubaly</span></h5>
                  <span class="card-text">Meaghan has been working in Halifax for many years at various software companies but got into the security space a few years ago and has since become an avid security champion!</span>
               </div>
            </div>
         </div>
         <div class="director col-lg-4 col-md-6 col-sm-12">
            <div class="card">
               <img class="card-img-top" src="assets/images/people/mark.jpg">
               <div class="card-body">
                  <h5 class="card-title">Mark <span>Leblanc</span></h5>
                  <span class="card-text">Haligonian infosec nerd - let's talk
                     DevSecOps, AppSec, bug bounties, CTFs, and anything Apple. <br><br>Previously an IT
                     student
                     at
                     NSCC.<br><br>Slinging fancy cocktails in what seems like another lifetime ago.</span>
               </div>
            </div>
         </div>
      </div>
   </section>


</div>
<div class="container-fluid bg-light">
   <section class="footer text-muted">
      <div class="row">
         <div class="col-md-4 col-xs-6">
            <h5>Links</h5>
            <ul>
               <li><a href=" http://www.securitybsides.com/w/page/12194156/FrontPage " target="_blank">Security
                     BSides</a></li>
               <li><a href=" https://atlseccon.com" target="_blank">Atlantic Security Conference</a></li>
               <li><a href=" https://www.dc902.ca" target="_blank">DEFCON Halifax</a></li>
               <li><a href="https://www.linkedin.com/company/bsides-halifax/" target="_blank">LinkedIn</a></li>
               <li><a href="https://twitter.com/halifaxbsides" target="_blank">X (Twitter)</a>
                  <li><a href="https://infosec.exchange/@halifaxbsides" target="_blank">Mastadon</a>
            </ul>
         </div>
         <div class="col-md-4 col-xs-6">
            <h5>Contacts</h5>
            <ul>
               <li><a href=" mailto:info@halifaxbsides.ca " target="_blank">info@halifaxbsides.ca</a></li>
            </ul>
         </div>
         <div class="col-md-4 col-xs-6">
            <h5>Code of Conduct</h5>
            <ul>
               <li><a href="/cod.html">Code of Conduct</a></li>
            </ul>
         </div>
      </div>
   </section>
</div>
